<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- Servlet for Retrieving Donation Offers 1-->
	<servlet>
		<servlet-name>DonationOffers</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationOffers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationOffers</servlet-name>
		<url-pattern>/donationoffers</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet for Retrieving  Donation Requests 2 -->
	<servlet>
		<servlet-name>DonationRequests</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationRequests</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationRequests</servlet-name>
		<url-pattern>/donationrequests</url-pattern>
	</servlet-mapping>
	<!-- Servlet for Making Donation Requests -->
	<servlet>
		<servlet-name>MakeDonationRequest</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.MakeDonationRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeDonationRequest</servlet-name>
		<url-pattern>/makedonationrequest</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet for Making Donation Offers 3-->
	<servlet>
		<servlet-name>MakeDonationOffer</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.MakeDonationOffer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeDonationOffer</servlet-name>
		<url-pattern>/makedonationoffer</url-pattern>
	</servlet-mapping>	
	<!-- Donor-Beneficiary-Register Servlet 4-->	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>	
	
	<!-- Donation-Manager-Register Servlet 4.2-->	
	<servlet>
		<servlet-name>RegisterManager</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.RegisterManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterManager</servlet-name>
		<url-pattern>/registermanager</url-pattern>
	</servlet-mapping>	
	
	<!--  login servlet  5-->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<!--  Manager login servlet 5.2-->
	<servlet>
		<servlet-name>ManagerLogin</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.ManagerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerLogin</servlet-name>
		<url-pattern>/managerlogin</url-pattern>
	</servlet-mapping>	
	
	<!--  Bidding servlet  6-->
	<servlet>
		<servlet-name>Bid</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Bid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bid</servlet-name>
		<url-pattern>/bid</url-pattern>
	</servlet-mapping>
	
	<!-- Notify Servlet 7-->
	<servlet>
		<servlet-name>Notify</servlet-name>
		<servlet-class>org.rhok.pta.donate.gcm.Notify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notify</servlet-name>
		<url-pattern>/notify</url-pattern>
	</servlet-mapping>
	
	<!-- DonationRequestStatusChange -->
	<servlet>
		<servlet-name>DonationRequestStatusChange</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationRequestStatusChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationRequestStatusChange</servlet-name>
		<url-pattern>/changerequeststatus</url-pattern>
	</servlet-mapping>
	
	<!-- DonationOfferStatusChange -->
	<servlet>
		<servlet-name>DonationOfferStatusChange</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationOfferStatusChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationOfferStatusChange</servlet-name>
		<url-pattern>/changeofferstatus</url-pattern>
	</servlet-mapping>
	
	<!-- DonationRequestFlagChange -->
	<servlet>
		<servlet-name>DonationRequestFlagChange</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationRequestFlagChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationRequestFlagChange</servlet-name>
		<url-pattern>/changerequestflag</url-pattern>
	</servlet-mapping>
	
	<!-- DonationOfferFlagChange -->
	<servlet>
		<servlet-name>DonationOfferFlagChange</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationOfferFlagChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationOfferFlagChange</servlet-name>
		<url-pattern>/changeofferflag</url-pattern>
	</servlet-mapping>
	
</web-app>
