<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- Servlet for Retrieving Donation Offers -->
	<servlet>
		<servlet-name>DonationOffers</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationOffers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationOffers</servlet-name>
		<url-pattern>/donationoffers</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet for Retrieving  Donation Requests-->
	<servlet>
		<servlet-name>DonationRequests</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.DonationRequests</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonationRequests</servlet-name>
		<url-pattern>/donationrequests</url-pattern>
	</servlet-mapping>
	<!-- Servlet for Making Donation Requests -->
	<servlet>
		<servlet-name>MakeDonationRequest</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.MakeDonationRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeDonationRequest</servlet-name>
		<url-pattern>/makedonationrequest</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet for Making Donation Offers -->
	<servlet>
		<servlet-name>MakeDonationOffer</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.MakeDonationOffer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeDonationOffer</servlet-name>
		<url-pattern>/makedonationoffer</url-pattern>
	</servlet-mapping>	
	<!-- Donor-Beneficiary-Register Servlet -->	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>	
	
	<!--  login servlet  -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<!--  Bidding servlet  -->
	<servlet>
		<servlet-name>Bid</servlet-name>
		<servlet-class>org.rhok.pta.donate.servlets.Bid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bid</servlet-name>
		<url-pattern>/bid</url-pattern>
	</servlet-mapping>
</web-app>
